article {
  border: 1px solid black;
  margin : 3px;
  padding: 2px 10px;
  background-color: rgba(95, 158, 160, 0.5);
  width: 50vw;
  
}

.center {
  text-align: center;

}

.name {
  color: orangered ;
}